.our-works {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-indent));
    margin-top: calc(-1 * var(--card-indent));
}
.our-works__card {
    position: relative;
    overflow: hidden;
    margin-left: var(--card-indent);
    margin-top: var(--card-indent);
    width: calc((100% - var(--card-indent) * var(--card-items)) / var(--card-items));
}
.our-works__img {
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .our-works__card:hover &,
    .our-works__card:focus & {
        transform: scale(1.05);
    }
}
.our-works__description {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--title-color);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
    .our-works__card:hover &,
    .our-works__card:focus & {
        transform: translateY(0);
    }
}
