:root {
    --accent-color: #2196f3; /* колір фокусу */
    --title-color: #ffffff; /* колір головного заголовку */
    --subtitle-color: #212121; /* колір підзаголовків */
    --description-color: #757575; /* колір текстів */
    --title-background-color: #2f303a; /* колір фону основного заголовку */
    --portfolio-background-color: #e5e5e5; /* колір фону portfolio-main */
    --card-items: 3; /* кількість карток в ряду */
    --card-indent: 30px; /* дистанція між картками */
}
