.call-back-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.call-back-form-description {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--subtitle-color);
    margin-bottom: 12px;
}
.call-back-form-lable {
    margin-bottom: 10px;
}
.call-back-form-lable-kay {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--description-color);
    margin-bottom: 4px;
}
.call-back-form-input-wrapper {
    position: relative;
    display: block;
}
.call-back-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
}
.call-back-form-input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    fill: var(--subtitle-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .call-back-form-input:focus + & {
        fill: var(--accent-color);
    }
}
.call-back-form-message {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
    &::placeholder {
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}
.call-back-form-checkbox-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.call-back-form-checkbox-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--subtitle-color);
    border-radius: 2px;
    margin-right: 7px;
    cursor: pointer;
    fill: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .call-back-form-checkbox:checked + & {
        border: none;
        fill: var(--accent-color);
    }
    .call-back-form-checkbox:checked:focus + & {
        outline: 1px solid rgba(0, 0, 0, 0.8);
    }
    .call-back-form-checkbox:not(:checked):focus + & {
        outline: 1px solid var(--accent-color);
    }
}
.call-back-form-checkbox-lable-kay {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--description-color);
}

.call-back-form-checkbox-link {
    text-decoration: underline;
    color: var(--accent-color);
}
