.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section_no_padding_top {
    padding-top: 0;
}
.section_bg-color {
    background-color: #f5f4fa;
}
.section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--subtitle-color);
}
