.section {
    padding-top: 60px;
    padding-bottom: 60px;
}
.section_bg-color {
    background-color: #f5f4fa;
}
.section-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    color: var(--subtitle-color);
}

@media screen and (max-width: 1199px) {
    .section__our-works {
        display: none;
    }
}
@media screen and (min-width: 1200px) {
    .section {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .section-title {
        margin-bottom: 50px;
        font-size: 36px;
    }
    .section_no-padding-top {
        padding-top: 0;
    }
}
